body {
	width: 100%;
	line-height: 25px;
	margin: 0;
	background-color: #f8f8f8;
	color: #212121;
	font-family: sans-serif;
	font-size: 16px;
}

/* --- header --- */

header {
	display: flex;
	max-height: 70px;
	min-height: 70px;
	background-color: #ffc213;
	align-items: center;
}

a {
	color: #212121;
}

img.logo {
	width: 100%;
	padding: 4px;
}

.headerLeft {
	float: left;
	max-width: 40%;
	min-width: 40%;
}

.headerCenterLeft {
	float: left;
	max-width: 20%;
	min-width: 20%;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
}

.headerCenterRight {
	float: left;
	max-width: 20%;
	min-width: 20%;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
}

.headerRight {
	max-width: 10%;
	min-width: 10%;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
}

/* --- main --- */

main {
	display: flex;
	margin-bottom: 70px;
}

article {
	float: left;
	max-width: 80%;
	min-width: 80%;
}

.mainLeft {
	float: right;
	max-width: 80%;
	min-width: 80%;
}

h1 {
	max-width: 50%;
	min-width: 50%;
	padding: 0.5em;
	background: #eaf3ff;
	border-bottom: solid 3px #516ab6;
	color: #010101;
	font-size: 40px;
}

.mainLeftBody {
	float: right;
	max-width: 90%;
	min-width: 90%;
}

h2 {
	max-width: 80%;
	min-width: 80%;
	margin-top: 1.5em;
	margin-bottom: 1.6em;
	line-height: 50px;
	font-family: MS PGothic;
	font-size: 50px;
	font-weight: bolder;
	text-align: center;
}

nav.menu {
	max-width: 40%;
	min-width: 40%;
}

nav.menu ul {
	padding-inline-start: 30px;
}

nav.menu ul li {
	list-style-type: none !important;
	line-height: 1.5;
	margin-bottom: 5px;
	padding: 0.5em;
	border-left: solid 6px #1fa67a;
	border-bottom: solid 2px #dadada;
	background: whitesmoke;
	font-weight: bold;
}

section {
	width: 90%;
	margin: 50px 10px 30px 10px;
}

h3 {
	position: relative;
	line-height: 1.4;
	margin-bottom: 10px;
	padding-left: 1.2em;
	font-size: 30px;
}

h3:before {
	position: absolute;
	left: 0;
	top: 0;
	font-family: "Font Awesome 5 Free";
	font-size: 1em;
	font-weight: 900;
	color: #5ab9ff;
	content: "\2714";
}

.sectionBody {
	max-width: 90%;
	min-width: 90%;
}

red {
	color: #ef4747;
}

hr {
	width: 100%;
	margin-top: 40px;
}

pre {
	margin: 1em 0;
	padding: 0.05em 1em;
	border-top: solid 5px #5d627b;
	background: #25292f;
	color: #ffffff;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

#bottom {
	float: left;
	max-width: 80%;
	min-width: 80%;
	text-align: center;
}

.bottomLeft {
	position: absolute;
	left: 32%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	margin: 0 10px 0 10px;
}

.bottomCenter {
	position: absolute;
	left: 45%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	margin: 0 10px 0 10px;
}

.bottomRight {
	position: absolute;
	left: 58%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	margin: 0 10px 0 10px;
}

.mainRight {
	float: right;
	max-width: 20%;
	min-width: 20%;
}

nav.table {
	padding: 8px;
}

h4 {
	font-size: 18px;
}

#table a {
	color: #2f14da;
}

ol {
	max-width: 60%;
	min-width: 60%;
	padding: 0.5em 0 0.5em 1.5em;
	border-top: solid #1e366a 1px;
	border-bottom: solid #1e366a 1px;
	color: #1e366a;
}

ol li {
	line-height: 1.5;
	padding: 0.5em 0;
}

/* --- footer --- */

footer {
	display: flex;
	max-height: 70px;
	min-height: 70px;
	background-color: #ffc213;
}

small {
	padding: 4px;
}