body {
 background-color: #f8f8f8;
 color: #212121;
 font-family: sans-serif;
 font-size: 16px;
 margin: 0;
}

.header {
 background-color: #ffa500;
 max-height: 72px;
 min-height: 72px;
}

.mainBody {
 padding: 32px;
}

.mainBodyLeft {
 float: left;
 max-width: 80%;
 min-width: 80%;
}

.mainBodyLeftBody {
 float: right;
 max-width: 80%;
 min-width: 80%;
}

.mainBodyRight {
 float: right;
 max-width: 20%;
 min-width: 20%;
}

.mainBodyRightBody {
 float: left;
 max-width: 80%;
 min-width: 80%;
}

#title {
 font-size: 50px;
}